body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: #292929;
  color:white;
}


.header-color{
background: -webkit-linear-gradient(to right, #24243e, #302b63, #0f0c29);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #24243e, #302b63, #0f0c29); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.header-color{
  background: -webkit-linear-gradient(to right, #24243e, #302b63, #0f0c29);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #24243e, #302b63, #0f0c29); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */


}
.home-grid img{
  width: 100%;
  margin-left:0;
  margin-right: 0;
  height: 942px;
  padding: 0;
}

.home-grid h4{
  text-align: center;
  margin-top: 54px;
}

/*the trend images on the landing page css */
.trending{
  margin-left: 15px;
}
.home-trend img{
  height: 368px;
  width: 264px;
}

/* show1 trend css  */

.show1-mainbanner img {
  width:100% ;
  height: 689px;
  margin-top: 95px;
  padding-top: 15px;
  align-items: center;
}
.show1-maincontent{
  margin-top: 95px;
  padding-top: 15px;
}

.show1-maincontent h3{
  font-family: Naskh;
  color:#AEADAD;
}
.show1-trend img{
  height: 368px;
  width: 483px;
  margin-top: 55px;
  padding-top: 15px;
  align-items: center;
}

/* show trend css  */
.show-trend img{
  height: 368px;
  width: 264px;
  margin-top: 55px;
  padding-top: 15px;
  align-items: center;
}
.show-trend{
  display: flex;


}
@media only screen and (max-width: 600px)  {
  .home-grid img{
    width:100%;
    height:567px; 
  }
.show1-mainbanner img{
  width: 100%;
  margin: -12px 5px;
  margin-bottom: -45px;



}
  .show1-trend img{
    height: 176px;
    width: 106px;

  }


}
